@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
// @import "compass_twitter_bootstrap_awesome";

// Variables --

$bgcolor: orange;
$fontcolor: white;

// Mixins --

// @mixin transparent($color, $alpha) {
//   $rgba: rgba($color, $alpha);
//   $ie-hex-str: ie-hex-str($rgba);
//   background-color: transparent;
//   background-color: $rgba;
//   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
//   zoom: 1;
// }


// Styles --

// -- Base Styles

body {
	padding-top: 70px;
	padding-bottom: 100px;

	color: $fontcolor;
	background: $bgcolor;
	position: relative;

	.navbar{
		.navbar-inner {
			.btn-navbar {
				float: left;
			}
		}
		.brand {
		float: right;
		}
	}

	.pull-center {
		margin: 0 auto;
		display: block;
	}

	.page-controls {
		.page-control {
			@extend .carousel-control;
			border: none;
			border-radius: 0;
			position: fixed;
			z-index: 10;
			a {
				color: $white;
				&:hover { color: $white; text-decoration: none; }
				&:visited { color: $white; }
			}
			&.left {
				top: 100px;
				left: 0;
				border-radius: 0 5px 5px 0;
			}

			&.right {
				top: 50%;
				right: 0;
				border-radius: 5px 0 0 5px;
			}
		}
	}

	.content-area {
		position: relative;
	}

	img {
		width: 100%;
		height: 100px;
		display: inline-block;
		margin-bottom: 5px;
		background: darken($bgcolor, 10%);
		// margin: 5px;
	}

	footer {
		position: fixed;
		bottom: 0;
		left: 10px;
		width: 100%;
		background: $bgcolor;
		.nav {
			li {
				a {
					color: $fontcolor;
					&:hover {
						color: darken($fontcolor, 70%)
					}
				}
			}
		}
	}
}

// -- Specifc Page Styles

#contact-page {
	legend {
		color: $fontcolor; 
	}
}

#about-page {
	.sidebar-item {
		cursor: pointer;
		&.current {
			cursor: default;
			img {
				height: 200px;
			}
		}
	}
}