@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
// @import "compass_twitter_bootstrap_awesome";

// Variables --

$bgcolor: orange;
$fontcolor: white;

// Mixins --



// Styles --

// -- Base Styles

body {
	padding-top: 70px;
	padding-bottom: 70px;

	color: $fontcolor;
	background: $bgcolor;
	position: relative;

	.navbar{
		.brand {
		float: right;
		}
	}

	.pull-center {
		margin: 0 auto;
		display: block;
	}

	.page-controls {
		.page-control {
			@extend .carousel-control;
			border: none;
			border-radius: 0;
			position: fixed;
			z-index: 10;
			a {
				color: $white;
				&:hover { color: $white; text-decoration: none; }
				&:visited { color: $white; }
			}
			&.left {
				top: 100px;
				left: 0;
				border-radius: 0 5px 5px 0;
			}

			&.right {
				top: 50%;
				right: 0;
				border-radius: 5px 0 0 5px;
			}
		}
	}

	.content-area {
		position: relative;
	}

	img {
		width: 400px;
		height: 100px;
		display: inline-block;
		background: darken($bgcolor, 10%);
		// margin: 5px;
	}

	.sidebar-item {
	}

	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: $bgcolor;
		.nav {
			li {
				a {
					color: $fontcolor;
					&:hover {
						color: darken($fontcolor, 70%)
					}
				}
			}
		}
	}
}

// -- Specifc Page Styles

#contact-form {
	legend {
		color: $fontcolor; 
	}
}