@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
// @import "compass_twitter_bootstrap_awesome";

// Variables --

$bgcolor: rgba(#E5E1DC, 1.0);
$bgimage: "../images/grid_bg.jpg";
$fontcolor: #333333;
$headfont: bold 'Source Sans Pro', sans-serif;
$bodyfont: 'Source Sans Pro', sans-serif;

// Mixins --

// @mixin transparent($color, $alpha) {
//   $rgba: rgba($color, $alpha);
//   $ie-hex-str: ie-hex-str($rgba);
//   background-color: transparent;
//   background-color: $rgba;
//   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
//   zoom: 1;
// }


// Styles --

// -- Base Styles

body {
	padding-top: 70px;
	padding-bottom: 100px;

	color: $fontcolor;
	background-color: $bgcolor;
	// background: url($bgimage) center 0 no-repeat;
	background-attachment: fixed;
	font-family: $bodyfont;
	position: relative;

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
	}

	p {
		font-size: 18px;
		font-weight: 300;
		// background: rgba(lighten($bgcolor, 20%), 1.0)
	}

	strong {
		font-weight: 700;
	}

	.text-info {
		color: #3a87ad;
	}

	.navbar{
		.navbar-inner {
			.btn-navbar {
				float: left;
			}
		}
		.brand {
		float: right;
		}
	}

	.pull-center {
		margin: 0 auto;
		display: block;
	}

	.page-controls {
		.page-control {
			@extend .carousel-control;
			border: none;
			border-radius: 0;
			position: fixed;
			z-index: 10;
			a {
				color: $white;
				&:hover { color: $white; text-decoration: none; }
				&:visited { color: $white; }
			}
			&.left {
				top: 100px;
				left: 0;
				border-radius: 0 5px 5px 0;
			}

			&.right {
				top: 50%;
				right: 0;
				border-radius: 5px 0 0 5px;

				span#know-more {
					background: inherit;
				    border-radius: 5px 0 0 5px;
				    display: inline-block;
				    font-size: 18px;
				    height: 35px;
				    left: -90px;
				    padding: 5px 10px 0;
				    position: absolute;
				    top: 0;
				}
			}
		}
	}

	.content-area {
		position: relative;
	}

	img {
		max-width: 100%;
		height: auto !important;
		display: inline-block;
		margin-bottom: 5px;
		// background: darken($bgcolor, 10%);
		// margin: 5px;
		-ms-interpolation-mode: bicubic;
	}

	footer {
		box-shadow: 0px 25px 50px black;
		// border-top: 1px dashed white;
		position: fixed;
		bottom: 0;
		left: 0;
		padding-left: 5%;
		width: 100%;
		background: $bgcolor;
		padding-top: 10px;
		.row-fluid {
			height: 35px;
		}
		.nav {
			li {
				a {
					color: $fontcolor;
					&:hover {
						color: darken($fontcolor, 70%)
					}
				}
			}
		}
		.copyright {
			margin-left: 12px;
		}
	}
}

// -- Specifc Page Styles

#contact-page {
	legend {
		color: $fontcolor; 
	}
	#submit {
		margin-top: 30px;
	}
}

#about-page {
	.current {
		img {
			cursor: default;
			width: 205px;
		}
	}
	iframe {
		width: 100%;
		z-index: -10;
	}
	.sidebar-item {
		cursor: pointer;
		float: left;
		height: 100px !important;
		width: 100px !important;
		margin: 0 5px 5px 0;
		position: relative;

		a:hover {
			.section-name {
				display: block !important;
			}
		}
		
		img {
			height: 100px !important;
			width: 100px !important;
		}

		.section-name {
			display: none;
			background: rgba(#000, 0.8);
			color: white;
			position: absolute;
			bottom: -10px;
			padding-left: 5%;
			width: 95%;
			font-weight: 200;
		}
	}

}