.page-region(start-animation, ng-controller="YaspaTiles")
      .page-region-content
        ul.tile-group(ng-repeat="tile in tiles")
          li(class="tile {{tile.sizeclass}} {{tile.colorclass}}")
            a.tile-content(href='#', data-reveal-id='myModal')
              h2 {{tile.smallheading}}
              h5 {{tile.subtitle}}
              p
                for t in {{tile}}
                  if t.badge == 12
                    p.text yes
              .brand
                i(class="{{tile.icon}}")
                .badge {{tile.badge}}
            

          li.tile.bg-color-blue.icon
            a.tile-content(href='#')
              i.foundicon-smiley
              .brand
                .name Icon
          li.tile.image.bg-color-red
            a.tile-content(href='#')
              img(src='img/demos/demo1.png')
              .brand
                .name Image
                .badge.bg-color-orangeDark 5
          li.tile.double.image.bg-color-orange
            a.tile-content(href='#')
              img(src='img/demos/demo3.png')
              .brand.bg-color-orange
                i.foundicon-globe
                p.text Bhootiya ghar ke baare mei wikipedia pe nhi milega baap!
                .badge 3
          li.tile.bg-color-yellow.icon
            a.tile-content(href='#')
              i.foundicon-cloud
              .brand
                .name Icon
          li.tile.double.bg-color-red
            a.tile-content(href='#')
              img.place-right(src='img/demos/demo4.png')
              h4 Title
              p
                | Something Something meri jaan, keh de something meri jaan, na kar aise aitbaar!
              p
                strong bleh bleh bleh
              .brand
                .name Tweet @ray1claw
          li.tile.bg-color-pink.icon
            a.tile-content(href='#')
              i.foundicon-settings
              .brand
                .name Icon
          li.tile.bg-color-greenLight.icon
            a.tile-content(href='#')
              i.foundicon-trash
              .brand
                .name Icon
          li.tile.double.bg-color-blueDark.icon
            a.tile-content(href='#')
              i.foundicon-lock
              .brand
                .name Icon
          li.tile.bg-color-orangeDark.icon
            a.tile-content(href='#')
              i.foundicon-location
              .brand
                .name Icon
          li.tile.bg-color-yellow.icon
            a.tile-content(href='#')
              i.foundicon-clock
              .brand
                .name Icon
        ul.tile-group
          li.tile.double.bg-color-green
            a.tile-content(href='#', data-reveal-id='myModal')
              h2 Small Heading
              h5 Subtitle
              p
                | Something Something meri jaan, keh de something meri jaan, na kar aise aitbaar!
              .brand
                i.foundicon-mail
                .badge 12
          li.tile.bg-color-blue.icon
            a.tile-content(href='#')
              i.foundicon-smiley
              .brand
                .name Icon
          li.tile.image.bg-color-red
            a.tile-content(href='#')
              img(src='img/demos/demo1.png')
              .brand
                .name Image
                .badge.bg-color-orangeDark 5
          li.tile.double.image.bg-color-orange
            a.tile-content(href='#')
              img(src='img/demos/demo3.png')
              .brand.bg-color-orange
                i.foundicon-globe
                p.text Bhootiya ghar ke baare mei wikipedia pe nhi milega baap!
                .badge 3
          li.tile.bg-color-yellow.icon
            a.tile-content(href='#')
              i.foundicon-cloud
              .brand
                .name Icon
          li.tile.double.bg-color-red
            a.tile-content(href='#')
              img.place-right(src='img/demos/demo4.png')
              h4 Title
              p
                | Something Something meri jaan, keh de something meri jaan, na kar aise aitbaar!
              p
                strong bleh bleh bleh
              .brand
                .name Tweet @ray1claw
          li.tile.bg-color-pink.icon
            a.tile-content(href='#')
              i.foundicon-settings
              .brand
                .name Icon
          li.tile.bg-color-greenLight.icon
            a.tile-content(href='#')
              i.foundicon-trash
              .brand
                .name Icon
          li.tile.double.bg-color-blueDark.icon
            a.tile-content(href='#')
              i.foundicon-lock
              .brand
                .name Icon
          li.tile.bg-color-orangeDark.icon
            a.tile-content(href='#')
              i.foundicon-location
              .brand
                .name Icon
          li.tile.bg-color-yellow.icon
            a.tile-content(href='#')
              i.foundicon-clock
              .brand
                .name Icon

          #myModal.reveal-modal.bg-color-red
              .row.modal-content
                h2 Awesome. I have it.
                p.lead Your couch.  It is mine.
                p Im a cool paragraph that lives inside of an even cooler modal. Wins
              a.close-reveal-modal
                i.foundicon-left-arrow
                h5 back