extends layout

block body
  .page-header
      .page-header-content
        h1
          a(href='#') Yaspa

    div(ng-view)

    script(src='js/foundation/foundation.min.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
  
    