extends layout

block body
  .page-header
      .page-header-content
        h1
          a(href='#') Yaspa

    div(ng-view)

    script(src='js/lib/angular/angular.js')
    script(src='js/vendor/jquery.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/foundation/foundation.js')
    script(src='js/foundation/foundation.dropdown.js')
    script(src='js/foundation/foundation.placeholder.js')
    script(src='js/foundation/foundation.section.js')
    script(src='js/foundation/foundation.clearing.js')
    script(src='js/foundation/foundation.tooltips.js')
    script(src='js/foundation/foundation.magellan.js')
    script(src='js/foundation/foundation.forms.js')
    script(src='js/foundation/foundation.alerts.js')
    script(src='js/foundation/foundation.cookie.js')
    script(src='js/foundation/foundation.orbit.js')
    script(src='js/foundation/foundation.joyride.js')
    script(src='js/foundation/foundation.topbar.js')
    script(src='js/foundation/foundation.reveal.js')
  
    