!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title YASPA Metro
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='js/lib/angular-ui/angular-ui.css')
    link(rel='stylesheet', href='/css/general_foundicons.css')
    link(rel='stylesheet', href='/css/general_foundicons_ie7.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='js/lib/angular/angular.js')
    //- script(src='js/lib/angular-ui/angular-ui.js')
    script(src='http://angular-ui.github.com/angular-ui/build/angular-ui.js')
    script(src='js/lib/angular-ui/angular-ui-ieshiv.js')
    script(src='js/vendor/jquery.js')
    script(src='js/app.js')

  body(ng-controller='AppCtrl')
    block body