!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title YASPA Metro
    link(rel='stylesheet', href='js/lib/angular-ui/angular-ui.min.css')
    link(rel='stylesheet', href='/css/general_foundicons.css')
    link(rel='stylesheet', href='/css/general_foundicons_ie7.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='js/lib/angular/angular.js')
    script(src='js/lib/angular-ui/angular-ui.min.js')
    script(src='js/lib/angular-ui/angular-ui-ieshiv.js')
    script(src='js/vendor/jquery.js')
    script(src='js/app.js')

  body(ng-controller='AppCtrl')
    block body