<div class="row-fluid" id="about-page" ng-controller="YaspaAbout">
	<div class="span3"> <!-- sidebar -->
		<div class="current sidebar-item">
			<img src="{{mainImageUrl}}" class="img-rounded" />
		</div>
		<div class="row-fluid">
			<div class="sidebar-item span6" ng-repeat="thumb in thumbnails">
				<img src="{{thumb.image}}" ng-click="mainImage(thumb)" class="img-rounded" />
			</div>
		</div>
	</div> <!-- /sidebar -->
	<div class="span9"> <!-- content -->
		<h3>{{title}}</h3>
		<p ng-bind-html-unsafe="content">
		</p>
	</div> <!-- /content -->
</div>