<div class="row-fluid" id="about-page">
	<div class="span3"> <!-- sidebar -->
		<div class="current sidebar-item">
			<img src="" class="img-rounded" />
		</div>
		<div class="row-fluid">
			<div class="sidebar-item">
				<img src="" class="img-rounded" />
			</div>
			<div class="sidebar-item">
				<img src="" class="img-rounded" />
			</div>
			<div class="sidebar-item">
				<img src="" class="img-rounded" />
			</div>
			<div class="sidebar-item">
				<img src="" class="img-rounded" />
			</div>
		</div>
	</div> <!-- /sidebar -->
	<div class="span9"> <!-- content -->
		<h3>Continually drive exceptional processes without effective internal.</h3>
		<p>
			Compellingly optimize distributed communities for principle-centered total linkage. Conveniently recaptiualize distributed functionalities without reliable.
			<ul>
				<li>
					Competently initiate cost effective systems before intuitive outsourcing. Objectively iterate stand-alone content via ubiquitous mindshare. Professionally conceptualize 2.0 systems after 2.0.
				</li>
				<li>
					Competently initiate cost effective systems before intuitive outsourcing. Objectively iterate stand-alone content via ubiquitous mindshare. Professionally conceptualize 2.0 systems after 2.0.
				</li>
				<li>
					Competently initiate cost effective systems before intuitive outsourcing. Objectively iterate stand-alone content via ubiquitous mindshare. Professionally conceptualize 2.0 systems after 2.0.
				</li>
				<li>
					Competently initiate cost effective systems before intuitive outsourcing. Objectively iterate stand-alone content via ubiquitous mindshare. Professionally conceptualize 2.0 systems after 2.0.
				</li>
			</ul>
		</p>
	</div> <!-- /content -->
</div>