<div class="row-fluid" id="contact-page">
	<div class="span3"></div>
	<div id="contact-form" class="span6">    
	 
		<form id="contact" method="post" action="">
			<fieldset>    

				<legend><h1>Get in touch!</h1></legend>
			 
				<label for="name">Name</label>
				<input type="text" name="name" class="input-block-level" placeholder="Full Name">
				 
				<label for="email">E-mail</label>
				<input type="email" name="email" class="input-block-level" placeholder="name@domain.com">

				<label for="phone">Phone</label>
				<input type="tel" name="phone" class="input-block-level" placeholder="9899998999" pattern='^[0-9]+$'>
				 
				<label for="website">Website</label>
				<input type="url" name="url" class="input-block-level" placeholder="http://">
				 
				<label for="message">Question/Comment</label>
				<textarea name="message" rows="3" class="input-block-level"></textarea>
				 
				<!-- <input type="submit" name="submit" id="submit" value="Send Message" /> -->
				
				<button type="submit" name="submit" id="submit" class="btn btn-primary btn-large btn-block">Submit</button>
				
			 
			</fieldset>
		</form>
	 
	</div>
	<div class="span3"></div>

	<!-- /end #contact-form -->
</div>