<div class="row-fluid" id="main-page">
	<h1 class="page-title">Yet Another Single Page App</h1>
	<div class="page-content">
		<div class="row-fluid"> <!-- homepage skeleton -->
			<div class="span4">
				<p>Professionally administrate user friendly e-markets for granular e-markets.</p>
			</div>
			<div class="span3">
				<img src="images/bookworm_penguin.png" class="img-rounded" />
			</div>
			<div class="span4">
				<div class="row-fluid">
					<div class="span6">
						<img src="images/drunken_penguin.png" class="img-rounded" />
					</div>
					<div class="span6">
						<img src="images/drunken_penguin.png" class="img-rounded" />
					</div>
				</div>
			</div>
		</div> <!-- /homepage skeleton -->
	</div>
</div>